---
import SocialStack from "@/components/common/SocialStack.astro";

import CloseIcon from "@/icons/common/Close.astro";
import GitHubIcon from "@/icons/social/GitHub.astro";
import ZoomIcon from "@/icons/common/Zoom.astro";

const { title, image, imagehd, altImage, slug, github } = Astro.props;
---

<div
  class="bg-slate-180 dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300 relative flex flex-col justify-between h-full"
>
  <button
    class="cursor-pointer project-image focus:outline-none openModalBtn"
    data-imagehd={imagehd}
    data-modal-id={`modal-${slug}`}
  >
    <img
      src={image}
      alt={altImage}
      class="w-full h-48 object-cover"
      transition:name={`project-image-${slug}`}
    />
  </button>

  <div class="p-2 flex-grow text-center">
    <h2 class="text-xl font-bold text-gray-800 dark:text-white">
      {title}
    </h2>
  </div>

  <!-- Vertically stacked buttons with equal width and height using SocialStack component -->
  <div class="p-2 flex flex-col items-center gap-2 mb-2">
    <SocialStack href={`/projects/${slug}`} target="_self">
      Project Details
      <ZoomIcon class="size-5" />
    </SocialStack>

    {
      github && (
        <SocialStack href={github}>
          Source Code
          <GitHubIcon class="size-5" />
        </SocialStack>
      )
    }
  </div>
</div>

<!-- Modal for image -->
<div
  id={`modal-${slug}`}
  data-project-modal
  class="fixed inset-0 bg-black bg-opacity-80 hidden justify-center items-center z-50"
>
  <!-- Close Icon placed outside the image, in the modal div -->
  <button
    class="absolute top-4 right-4 p-2 text-white bg-black rounded-full closeModalBtn"
    data-modal-id={`modal-${slug}`}
  >
    <CloseIcon class="w-6 h-6" />
  </button>

  <div class="relative max-w-3xl max-h-3xl mx-auto modalImageContainer">
    <img
      class="modalImage max-w-full max-h-full object-contain"
      alt={altImage}
    />
  </div>
</div>

<script>
  const toggleModal = (modal: HTMLElement, isOpen: boolean) => {
    modal.classList.toggle("hidden", !isOpen);
    modal.classList.toggle("flex", isOpen);
  };

  const openModalBtns = document.querySelectorAll<HTMLButtonElement>(
    ".openModalBtn"
  );
  const closeModalBtns = document.querySelectorAll<HTMLButtonElement>(
    ".closeModalBtn"
  );
  const projectModals = document.querySelectorAll<HTMLElement>(
    "[data-project-modal]"
  );

  openModalBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const modalId = btn.dataset.modalId;
      const imagehd = btn.getAttribute("data-imagehd");
      if (!modalId) return;

      const modal = document.getElementById(modalId);
      const modalImage = modal?.querySelector(
        ".modalImage"
      ) as HTMLImageElement | null;

      if (modalImage && imagehd) {
        modalImage.src = imagehd;
      }
      if (modal) {
        toggleModal(modal, true);
      }
    });
  });

  closeModalBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const modalId = btn.dataset.modalId;
      if (!modalId) return;

      const modal = document.getElementById(modalId);
      if (modal) {
        toggleModal(modal, false);
      }
    });
  });

  // Close the modal when clicking outside the image.
  projectModals.forEach((modal) => {
    modal.addEventListener("click", (event) => {
      if (event.target === modal) {
        toggleModal(modal, false);
      }
    });
  });
</script>
