---
import CloseIcon from "@/icons/common/Close.astro"; // Import the Close icon
import GitHubIcon from "@/icons/Social/GitHub.astro"; // Import the GitHub icon
import ZoomIcon from "@/icons/common/Zoom.astro"; // Import the Zoom icon
import SocialStack from "@/components/common/SocialStack.astro"; // Import the SocialStack component

const { title, image, imagehd, altImage, slug, github } = Astro.props;
let showModal = false;
---

<div
  class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300 relative flex flex-col justify-between h-full"
>
  <!-- Button to open the modal -->
  <button
    class="cursor-pointer project-image focus:outline-none"
    id="openModalBtn"
  >
    <img src={image} alt={altImage} class="w-full h-48 object-cover" />
  </button>

  <div class="p-4 flex-grow text-center">
    <h2 class="text-xl font-bold text-gray-800 dark:text-white mb-2">
      {title}
    </h2>
  </div>

  <!-- Vertically stacked buttons with equal width and height using SocialStack component -->
  <div class="p-4 flex flex-col items-center gap-2">
    <SocialStack href={`/projects/${slug}`} target="_self">
      Project Details
      <ZoomIcon class="size-5" />
    </SocialStack>

    {
      github && (
        <SocialStack href={github}>
          Source Code
          <GitHubIcon class="size-5" />
        </SocialStack>
      )
    }
  </div>
</div>

<!-- Modal for image -->
<div
  id="modal"
  class="fixed inset-0 bg-black bg-opacity-80 hidden justify-center items-center z-50"
  onclick="closeModal()"
>
  <!-- Close Icon placed outside the image, in the modal div -->
  <button
    class="absolute top-4 right-4 p-2 text-white bg-black rounded-full"
    id="closeModalBtn"
    onclick="closeModal()"
  >
    <CloseIcon class="w-6 h-6" />
  </button>

  <div
    class="relative max-w-3xl max-h-3xl mx-auto"
    onclick="event.stopPropagation();"
  >
    <img
      src={imagehd}
      alt={altImage}
      class="max-w-full max-h-full object-contain"
    />
  </div>
</div>

<script src="/src/scripts/theme-toggle.js" defer></script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("modal");
    const openModalBtn = document.getElementById("openModalBtn");
    const closeModalBtn = document.getElementById("closeModalBtn");

    if (openModalBtn && modal) {
      openModalBtn.addEventListener("click", () => {
        modal.classList.remove("hidden");
        modal.classList.add("flex");
      });
    }

    if (closeModalBtn && modal) {
      closeModalBtn.addEventListener("click", () => {
        modal.classList.add("hidden");
        modal.classList.remove("flex");
      });
    }

    // Close the modal when clicking outside the image
    if (modal) {
      modal.addEventListener("click", () => {
        modal.classList.add("hidden");
        modal.classList.remove("flex");
      });
    }
  });
</script>
