---
import NextJSIcon from "../icons/NextJS.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import AngularIcon from "../icons/Angular.astro";

const TAGS = {
  NEXT: {
    name: "NextJS",
    class: "bg-black text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  ANGULAR: {
    name: "Tailwind CSS",
    class: "bg-[#CC0E49] text-white",
    icon: AngularIcon,
  },
};

const PROJECTS = [
  {
    title: "Project 1",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    link: "#",
    github: "https://github.com/midudev/porfolio.dev",
    image: "/projects/project1.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Project 2",
    description:
      "Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Ut ornare lectus sit amet est. Dignissim diam quis enim lobortis scelerisque fermentum dui. Consequat id porta nibh venenatis cras sed felis. Lacus sed viverra tellus in. Mattis aliquam faucibus purus in massa tempor. Ut eu sem integer vitae justo eget magna. At in tellus integer feugiat. Risus sed vulputate odio ut enim.",
    link: "#",
    github: "https://github.com/midudev/porfolio.dev",
    image: "/projects/project1.webp",
    tags: [TAGS.ANGULAR, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2 mt-12">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Screenshot of the project ${image}`}
      />
    </article>
  ))
}
